node_modules/

!public/js/
public/js/*
!public/js/jquery-3.4.1.min.js
!public/js/bootstrap.min.js
!public/js/loader.js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
